# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
.venv/

# VS Code / PyCharm / IDE settings
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Build / egg
*.egg-info/
build/
dist/
